@use '../../partials/mixins' as *;
@use '../../partials/mixin-padding' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.edit-warehouse {
    background-color: $white;
    border-radius: 3px;

    &__page-header {
        @include padding-sides;
        padding-top: 1rem;
        display: flex;
        gap: 0.75rem;
        border-bottom: 1px $Cloud solid;
        margin-bottom: 1.5rem;

        @include tablet {
            padding-top: .5rem;
        }

        @include desktop {
            padding: 1rem 2.5rem 0rem;
        }
    }

    &__page-title {
        color: $Instock-Black;
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 2.1875rem;

        @include tablet {
            font-size: 2rem;
            font-weight: 600;
            line-height: 2.5rem;

        }
    }

    &__form{

        @include tablet {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__action-container {
        display: flex;
        justify-content: space-between;
        background-color: $Light-Grey;
        gap: 1rem;
        padding: 1rem 1rem;
        // margin: 0 -1.5rem;
        margin-top: 1.5rem;
        
        
        @include tablet {
            flex-basis: 100%;
            margin: 0;
            justify-content: flex-end;
        }
    }

    &__cancel {
        @include primary-button;
        background-color: $white;
        border: 1px solid $Cloud;
        color: $Slate;
        font-size: 0.8125rem;
        line-height: 1.25rem;
    }

    &__save {
        @extend .edit-warehouse__cancel;
        color: $white;
        border: none;
        background-color: $Instock-Indigo;
    }
}